@font-face {
    font-family: Main;
    src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Light;
    src: url(fonts/Ubuntu/Ubuntu-Light.ttf);
}
@font-face {
    font-family: Bold;
    src: url(fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: CakeCafe;
    src: url(fonts/Cakecafe.ttf);
}

:root{
    --main: #302E30;
    --text-main: #C27E53;
    --alt: #C27E53;
    --text-alt: #302E30;
}

body{
    background-color: var(--main);
    font-family: Main;
    color: var(--text-main);
}

.topbar{
    width: 97vw;
    height: 5vw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main);
    display: flex;
    flex-direction: row;
}
.topbar img{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 5vw;
    height: 5vw;
}
.topbar button{
    height: 3vw;
    margin-top: auto;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: auto;
    width: 10%;
    font-family: Main;
}
.main h1{
    text-align: center;
    font-size: 10vw;
    font-family: Light;
    font-weight: 100;
}
.main h2{
    margin-top: 0;
}
.main .title{
    margin-top: 10vw;
    margin-bottom: 0;
    font-weight: lighter;
}
.main .sites{
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: center;
    text-align: center;
    align-self: center;
}
.main .sites img{
    margin-left: 1vw;
    margin-right: 1vw;
    width: 5vw;
    position: static;
    height: 5vw;
    transition: all 0.5s;
}
.main .sites img:hover{
    width: 5.5vw;
    height: 5.5vw;
    cursor: pointer;
}
.main h2{
    text-align: center;
    font-weight: bold;
    font-family: Bold;
    font-size: 2.5vw;
}
.main .title{
    font-family: CakeCafe;
}
.games{
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
}
.games img{
    margin-left: auto;
    margin-right: auto;
    border-radius: 1vw;
    display: block;
    width: 25vw;
}
.games h3{
    text-align: center;
    font-size: 2vw;
    margin-bottom: 0;
    font-family: Light ;
}
button{
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-family: Main;
    font-size: 2vw;
    padding-left: 7vw;
    border-radius: 2vw;
    padding-right: 7vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    transition: 0.25s all;
    border: 0.25vw solid var(--text-main);
    color:var(--text-main);
    background-color: var(--main);
}

button:hover{
    color: var(--text-alt);
    background-color: var(--alt);
}
.footer{
    background-color: var(--alt);
    color: var(--text-alt);
    text-align: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
}
.LatestVideo{
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.LatestVideo iframe{
    width: 65vw;
    height: 35vw;
    border: solid var(--alt) 0.5vw; 
    border-radius: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.LatestVideo .twitter-timeline{
    width: 65vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer h2{
    margin: auto;
}
.projects li{
    margin-left: 35vw;
    font-family: Light;
    font-size: 1.5vw;
}
.collumn{
    display: flex;
    flex-direction: column;
}