* {
	font-family: monospace;
	margin: 0;
	padding: 0;
}

:root {
	--bg-color: #212121;
	--txt-color:  #aca1cf;
	--txt-d-color:#796e9d; 
	--border-sz: 0.75vw;

	--main-width: 75vw;
	--main-height: 80vh;

	--img-sz: calc((var(--main-width) / 2) - var(--border-sz) * 2);
	--txt-p-size: 1.5em;
}

body {
	background-color: var(--bg-color);
	color: var(--txt-color);
	font-size: var(--txt-p-size);
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

#avatar img {
	width: var(--img-sz);
	height: var(--img-sz);
	outline: var(--border-sz) var(--txt-color) solid;
	display: block;
}

#avatar h1 {
	display: block;
	margin: var(--border-sz) 0;
	height: calc(var(--main-height) - var(--img-sz) - (var(--border-sz) * 3));
	line-height: calc(var(--main-height) - var(--img-sz) - (var(--border-sz) * 3));
	text-align: center;
	outline: var(--border-sz) var(--txt-color) solid;
}

main {
	width: calc(var(--main-width) - (var(--border-sz) * 2));
	height: calc(var(--main-height) - (var(--border-sz) * 2));
	margin: calc((100vh - var(--main-height)) / 2) auto 0 auto;
	border: var(--border-sz) var(--txt-color) solid;
}

#about {
	display: flex;
	flex-direction: column;
	height: calc(var(--main-height) - (var(--border-sz) * 2));
	padding: 0 var(--border-sz);
	align-items: stretch;
}



.block {
	border-bottom: var(--border-sz) var(--txt-color) solid;
	width: calc(var(--img-sz) + (var(--border-sz)) - 1em);
	padding-left: 1em;
}

a {
	line-height: 2.25em;
	color: var(--txt-color);
}

a:hover {
	color: var(--txt-d-color);
}

a::before {
	content: "[ ";
}
a::after {
	content: " ]";
}

#projs {
	flex: 8;
}

#aboutme {
	flex: 6;
}

#socials {
	flex: 1;
	align-content: space-around;
	width: calc(var(--img-sz) + (var(--border-sz)));
	padding-left: 0;
	text-align: center;
	border-bottom: none;
}

@media only screen and (orientation: portrait) {
	:root {
		--border-sz: 1vh;
		--main-width: 90vw;
		--main-height: 80vh;
		--txt-p-size: 170%;
	}
	.block {
		padding: 0;
		width: calc(var(--img-sz) + (var(--border-sz)));
	}
	h1 {
		text-align: center;
	}
	#aboutme p {
		line-height: 2em;
		font-size: 1em;
	}
	#socials {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
