* {
	font-family: monospace;	
}

:root {
	--border-size: 0.25vw;
}

body {
	background-color: #212121;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 98vh;
	width: 99vw;
	overflow-x: hidden;
}

main {
	width: 50vw;

	display: flex;
	flex-direction: column;
	border: var(--border-size) solid white;
}

#main_row {
	display: flex;
	flex-direction: row;
	border-bottom: var(--border-size) solid white;
	border-collapse: collapse;
}

#avatar {
	width: 25vw;
	display: block;
	border-bottom: var(--border-size) solid white;
	border-right: var(--border-size) solid white;
}

#proj_list {
	display: flex;
	flex-direction: column;
}

#proj_list a {
	margin: auto 0;
	font-size: 125%;
}

a {
	display: block;
	color: white;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	color: #606060;
}

a::before {
	content: "[";
}
a::after {
	content: "]";
}

#projects {
	width: 25vw;
	height: 25vw;
}
#projects h2 {
	padding-top: 2vh;
	margin-top: 0;
	text-align: center;
}

#nickname {
	margin: 0;
	text-align: center;
	font-size: 130%;
	line-height: 5vh;
	border-right: var(--border-size) solid white;
}

#aboutme {
	text-align: center;
	font-size: 130%;
}

hr {
	height: var(--border-size);
	border: none;
	width: auto;
	margin: 0;
	background-color: white;
}

#accounts {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	line-height: 5vh;
}

#accounts a {
	font-size: 120%;
}

@media only screen and (orientation: portrait) {
	:root {
		--border-size: 0.5vw;
	}
	main {
		font-size: 200%;
		width: 90vw;
	}
	#main_row {
		flex-direction: column;
	}
	#avatar {
		width: 90vw;
		border-right: none;
	}
	#nickname {
		border-right: none;
		border-bottom: var(--border-size) solid white;
	}
	#main_column {
		width: 90vw;
	}
	#projects {
		padding: 2vh 0;
		width: 90vw;
		height: auto;
	}
	#projects h2 {
		padding-top: 0;
	}
	#projects a {
		font-size: 130%;
		padding: 1vh 0;
	}
}
