:root{
	--main: #121212;
	--text: #f5f5f5;
	--accent: #aca1cf;
}
* {
	font-family: monospace;
}
body{
	background-color: var(--main);
	color: var(--text);
	font-size: large;
	padding-top: 17.5vh;
	padding-bottom: 17.5vh;
	height: 50vh;
	width : 30vw;
	margin: auto;
	overflow: hidden;
}
a{
	color: var(--accent);
}
a::before{
	content: "[ ";
}
a::after{
	content: " ]";
}
main{
	display: flex;
	flex-direction: column;
	margin: auto;
	vertical-align:middle;
	text-align: center;
}
main img{
	display: block;
	width: 25vw;
	margin:auto;
}
h3, h1{
	margin-top: 0;
}
.main-row{
	display: flex;
	flex-direction: row;
	width: auto;
	margin: auto;
	margin-top: 0;
	justify-content: space-around;
	width: 20vw;
}
@media only screen and (max-width: 900px){
	body {
		font-size: 150%;
		height: auto;
		padding-top: 20vh;
		width: 80vw;
		font-size: medium;
	}
	.main-row{
		flex-direction: column;
		margin: 0 auto;
		width: 25vw;
	}
	main{
		width: 100%;
	}
	main img{
		width: 50vw;
	}
	a{
		padding: 0.5vh;
	}
}
