
@font-face {
    font-family: Ubuntu Regular;
    src: url("fonts/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: Ubuntu Light;
    src: url("fonts/Ubuntu-Light.ttf");
}
@font-face {
    font-family: Ubuntu Bold;
    src: url("fonts/Ubuntu-Bold.ttf");
}
@font-face {
    font-family: Ubuntu Medium Italic;
    src: url("fonts/Ubuntu-MediumItalic.ttf");
}
@font-face {
    font-family: Ubuntu Light Italic;
    src: url("fonts/Ubuntu-LightItalic.ttf");
}
@font-face {
    font-family: Ubuntu Bold Italic;
    src: url("fonts/Ubuntu-BoldItalic.ttf");
}

:root{
    --background-main: #e2ffe2;
    --background-alt: #c3fcc8;
    --text-main: #8ebf8f;
    --text-alt: #88bc88;
}

body{
    background-color: var(--background-main);
    text-align: center;
}

.container {
    position: relative;
    height: 100vh;
}
.centerdiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vw;
    text-align: center;
}
.invisible{
    display: none;
}

h1{
    color: var(--text-main);
    margin-top: 1.25vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.25vw;
    font-size: 2vw;
    font-family: Ubuntu Light;
    font-weight: 100;
    animation-fill-mode: forwards;
}

div{
    background-color: var(--background-alt);
}

h2{
    color: var(--text-main);
    margin-top: 0.125vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.25vw;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: Ubuntu Regular;
}

button{
    margin-top: 1vw;
    background-color: var(--background-main);
    color: var(--text-main);
    padding: 1vw;
    font-family: Ubuntu Light;
    font-weight: 100;
    font-size: 1vw;
    border: none;
    transition: 0.1s;
    text-align: center;
    width: 15vw;
    height: 3vw;
    margin: auto;
    transition: all 0.1s;
}
button:hover{
    background-color: var(--background-alt);
    color: var(--text-main);
}

footer{
    position: fixed;
    width: 98vw;
}
footer button{
    width: 5vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
footer h2{
    font-size: 1vw;
    font-family: Ubuntu;
    font-weight: 300;
}
footer img{
    width: 3vw;
    height: 3vw;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.1s;
}
footer img:hover{
    width: 3.25vw;
    height: 3.25vw;
}
.game{
    text-align: center;
    margin: auto;
    vertical-align: bottom;
}
.game button{
    height: 5vw;
    font-size: 2vw;
}

.homebutton{
    font-size: 2vw;
    width: 16vw;
    height: 5vw;
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
    transition: all 0.1s;
}

p{
    font-family: Ubuntu 'Regular';
    font-size: 1.2vw;
    color: var(--text-main);
    text-transform: uppercase;
    animation: textTyping 3s steps(1200, end);
    animation-fill-mode: forwards;
}



a{
    color:var(--text-main);
}
.topbar{
    vertical-align: top;
    position: fixed;
    text-align: center;
    align-self: center;
    align-items: center;
    margin-bottom: 5vw;
}
.sidebar{
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    text-align: left;
    width: 10%;
    position: fixed;
}

@media(max-width: 800px) 
{   
    h1{
        font-size: 4vw;
    }
    h2{
        font-size: 2.5vw;
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
    }
    button{
        font-size: 2vw;
        width: 50vw;
        height: 8vw;
        margin-top: 1.2vw;
        margin-bottom: 1.2vw;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    footer{
        position:unset;
        width: 90vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1vw;
    }
    footer img{
        width: 7vw;
        height: 7vw;
        margin-top: auto;
        margin-bottom: auto;
    }
    footer h2{
        font-size: 2.5vw;
    }
    footer button{
        width: 15vw;
    }
    footer img:hover{
        width: 8vw;
        height: 8vw;
    }
    .homebutton{
        font-size: 4vw;
        width: 99vw;
        height: 10vw;
        margin-top: 1.2vw;
        margin-bottom: 1.2vw;
    }
}
