@font-face {
    font-family: MatrixFont;
    src: url(fonts/MatrixFont.ttf);
}

@keyframes textTyping {
    from{
        text-transform: lowercase;
        white-space: nowrap;
        margin: 0 auto;
        width: 0%;
        overflow: hidden;
    }
    to{
        text-transform: uppercase;
        white-space: nowrap;
        text-align: center;
        width: 100%;
        margin: 0 auto; 
    }
}
@keyframes myAvatar {

    from{
        width: 180px;
        height: 180px;
        content: url("images/Black.png");
    }
    to{
        width: 180px;
        height: 180px;
        content: url("images/Image.svg");
    }
}


body{
    background-color: black;
    text-align: center;
}

.container {
    position: relative;
    height: 100vh;
}
.centerdiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vw;
    text-align: center;
}
.invisible{
    display: none;
}

h1{
    color: #00ff00;
    margin-top: 1.25vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.25vw;
    font-size: 8vw;
    font-family: MatrixFont;
    animation: textTyping 1s steps(12000, end);
    animation-fill-mode: forwards;
}
h2{
    color: #00ff00;
    margin-top: 0.125vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.25vw;
    font-size: 1.5vw;
    font-family: MatrixFont;
}
input{
    background-color: black;
    padding: 0.5vw;
    height: 2.5vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    width: 22.5vw;
    color: #00ff00;
    font-family: MatrixFont;
    border: #00ff00 solid 0.25vw;
    font-size: 1.25vw;
    text-align: center;
}

button{
    margin-top: 1vw;
    background-color: black;
    color: #00ff00;
    padding: 1vw;
    font-family: MatrixFont;
    font-size: 1.75vw;
    border: none;
    transition: 0.1s;
    text-align: center;
    width: 19.2vw;
    height: 7vw;
    margin-left: auto;
    margin-right: auto;
}
td{
    margin-left: 1vw;
    padding: 2vw;
}
button:hover{
    background-color: #00ff00;
    color: black;
}

.game{
    text-align: center;
    margin: auto;
    vertical-align: bottom;
}
.game button{
    height: 5vw;
    font-size: 2vw;
}

.homebutton{
    font-size: 2.75vw;
    width: 19.2vw;
    height: 5vw;
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
    transition: all 0.1s;
}

p{
    font-family: MatrixFont;
    font-size: 1.2vw;
    color:#00ff00;
    text-transform: uppercase;
    animation: textTyping 3s steps(1200, end);
    animation-fill-mode: forwards;
}

.header{
    font-size: 10.5vw;
}

a{
    color:#00ff00;
}
.topbar{
    vertical-align: top;
    position: fixed;
    text-align: center;
    align-self: center;
    align-items: center;
    margin-bottom: 5vw;
}
.sidebar{
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    text-align: left;
    width: 10%;
    position: fixed;
}

@media(max-width: 800px) 
{
    .password{
        width: 100%;
    }    
    .container{
        width: 100%;
    }
    h1{
        font-size: 10vw;
    }
    h2{
        font-size: 3.5vw;
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
    }
    input{
        width: 35vw;
        height: 4vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        font-size: 3vw;
    }
    button{
        font-size: 4vw;
        width: 40vw;
        height: 8vw;
        margin-top: 1.2vw;
        margin-bottom: 1.2vw;
    }
    .homebutton{
        font-size: 5vw;
        width: 20vw;
        height: 8vw;
        margin-top: 1.2vw;
        margin-bottom: 1.2vw;
    }
}
