@font-face {
    font-family: DMSans;
    src: url(fonts/DMSansFont.ttf);
}

body{
    background-color: black;
    font-family: DMSans;
}
.top{
    background-color: rgb(55, 55, 55);
    text-align: left;
    display: flex;
    align-items: center;
}
.top img{
    float: none;
    margin: auto;
    border-radius: 10px;
}
.topbar{
    padding: 10px;
    font-size: 22px;
}
.topbar a{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
.topbar a:hover{
    background-color: white;
    color: black;
    text-decoration: underline;
}
.topbar p{
    color: white;
    font-size: 15px;
}
.mainTitle{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
.main{
    font-size: 20px;
    color: white;
    text-align: center;
}
.main a{
    background-color: black;
    color: white;
    border: 5px;
    border-color: white;
    font-size: 20px;
    padding: 10px;
}
.main a:hover{
    background-color: white;
    color: black;
    border: 10px;
    border-radius: 10px;
    font-size: 20px;
}
.game{
    color: white;
    text-align: center;
    font-size: 20px;
}
.game img{
    border-radius: 10px;
}
.game a{
    background-color: rgb(55, 55, 55);
    color:white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}
.game a:hover{
    background-color: white;
    color:black;
    text-decoration: underline;
}
.game table{
    background-color: rgb(55, 55, 55);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.game td{
    margin: auto;
    padding: 15px;
}
.site{
    background-color: rgb(55, 55, 55);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.site p{
    color: white;
}
.site a{
    color:white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
.site a:hover{
    color: black;
    text-decoration: underline;
    background-color: white;
}


.devlog{
    margin: auto;
    background-color: rgb(55, 55, 55);
    border-radius: 20px;
}
.devlog a{
    color: white;
}
.devlog h2{
    font-size: 20px;
}


@media (max-width: 650px) {
    .top{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .topbar{
        width: 100%;
        flex-direction: column;
        align-items: center;
    } 
    .topbar a{
        width: 100%;
        padding: 10px;
    }
}