@font-face {
    font-family: MatrixFont;
    src:url(fonts/UbuntuMono-Regular.ttf);
}

body{
    background-color: black;
    font-family: MatrixFont;
    color: #00ff00;
    text-align: center;
    align-items: center;
}
h1{
    font-size: 2vw;
}
h2{
    color: #00ff00;
    text-align: left;
    margin-left: 4vw;
    font-family: MatrixFont;
    font-size: 1vw;
}
#previous{
    color: #00ff00;
    text-align: left;
    margin-left: 4vw;
    font-family: MatrixFont;
    font-size: 1vw;
}
#output{
    color: #00ff00;
    text-align: left;
    margin-left: 5vw;
    font-family: MatrixFont;
    font-size: 1vw;
}
#input{
    color: #00ff00;
    text-align: left;
    margin-left: 4vw;
    font-family: MatrixFont;
    font-size: 1vw;
}